<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Primary Schools in Dhaka</title>
    <br>
    <br>
    
    <br>
    <br>
</head>

<body>
    <form action="/login">
        <fieldset>
            <legend><h3>Continue as:</h3></legend>
            <input type="radio" name="user" value="admin">Admin<br>
            <input type="radio" name="user" value="visitor">Visitor<br>
            <br>
            <input type="submit" value="Continue">
        </fieldset>
    </form>

</body>
</html>